@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --default-font: "Montserrat";
    --alt-font: "Poppins";

    --body-color: rgb(160, 160, 160);
    --main-color: rgb(255, 255, 255);

    --highlight-color: rgb(121, 68, 0);
    --lighter-highlight-color:  rgb(150, 85, 0); 
}

* {
    padding: 0;
    margin: 0;  
}

body {
    background-color:var(--body-color);
    font-family: var(--default-font);
    margin-top: 133px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(112, 64, 0);
    font-family: var(--alt-font);
    color: white;
    text-align: center;
}

header h1 {
    padding: 15px 0 25px;
}

header nav {
    padding: 10px;
    box-shadow: 0px -1px 4px 0px #0000004d;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

header nav ul li a:hover {
    background-color: var(--lighter-highlight-color);
}   

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 10px;
    border-radius: 0 0 15px 15px;
    padding: 0  15px;
    background-color: var(--main-color);
}

main strong {
    background-color: var(--lighter-highlight-color);
    border-radius: 10px;
    padding: 0 7px;
}

main .parallax {
    height: 80vh;
    margin: 0 -15px;
    background: darkgray url("/image/padaria.jpg") no-repeat scroll center / cover;
}

main .parallax-text {
    width: 60vw;
    padding: 20px;
    margin: auto;
    border-radius: 0 0 15px 15px;
    background-color: rgba(0, 0, 0, 0.863);
    font-family: var(--alt-font);
    color: white;
}

main .parallax-text h1 {
    font-size: 3em;
}

main .parallax-text h1, .parallax-text h2 {
    margin: 15px 0;
    font-variant: small-caps;
}

footer {
    padding: 5px;
    background-color: rgb(112, 64, 0);
    font-family: var(--alt-font);
    color: white;
    text-align: center;
}
